<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.69" targetFramework="net472" />
  <package id="Emgu.CV" version="4.2.0.3662" targetFramework="net472" />
  <package id="Emgu.CV.runtime.windows" version="4.2.0.3662" targetFramework="net472" />
  <package id="NetMQ" version="4.0.0.207" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net472" />
  <package id="ZeroMQ" version="4.1.0.31" targetFramework="net472" />
</packages>