<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="shadow1.Shadow1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="shadow1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <shadow1.Shadow1>
            <setting name="serverIP" serializeAs="String">
                <value>tcp://localhost</value>
            </setting>
            <setting name="defaultscanmode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="defaultinputamp" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="defaultoutputamp" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="p0x" serializeAs="String">
                <value>7.0754</value>
            </setting>
            <setting name="p0y" serializeAs="String">
                <value>-3.582783</value>
            </setting>
            <setting name="p1x" serializeAs="String">
                <value>-151.042664</value>
            </setting>
            <setting name="p1y" serializeAs="String">
                <value>90.190744</value>
            </setting>
            <setting name="p2x" serializeAs="String">
                <value>-151.042664</value>
            </setting>
            <setting name="p2y" serializeAs="String">
                <value>90.190744</value>
            </setting>
        </shadow1.Shadow1>
        <shadow1.Settings1>
            <setting name="serverIP" serializeAs="String">
                <value>tcp://132.77.57.159:5555</value>
            </setting>
            <setting name="defaultscanmode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="defaultinputamp" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="defaultoutputamp" serializeAs="String">
                <value>3000</value>
            </setting>
        </shadow1.Settings1>
    </userSettings>
</configuration>
